.about-imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.about-imagem img{
    width: 900px;
     height: auto;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 600px;
    display: flex;
}
.hero-image {
    width: 100%;
    margin: 30px auto 0 auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.hero-image img {
    width: 100%;
    display: block;
    height: auto;
}

.about-section {
    background-color: #fff;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 40px;
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    text-align: center;
    margin-top: -40px;
}
.about-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center; 
    padding-left: 0;
}

.about-info p{
    text-align: justify;
    font-size: 14px;
}

.about-botao-instagram {
  display: block;
  width: fit-content;
  margin: 20px auto 0;
  background-color: #f172c2;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

.about-botao-instagram:hover {
  background-color: #e054a7;
}

/* RESPONSIVIDADE*/
@media (max-width: 768px) {
    .about-imagem img {
        width: 100%;
    }

    .container {
        flex-direction: column;
        width: 100%;
        padding: 0 10px;
    }

    .about-section {
        padding: 20px;
        margin: 20px auto;
        width: 95%;
    }

    .about-info p {
        font-size: 13px;
    }

    .about-botao-instagram {
        font-size: 0.85rem;
        padding: 8px 16px;
    }
}