header{
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 55vh;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding-bottom: 20px;
    text-shadow: 2px 2px 20px black;
}

header button{
    margin-top: 25px;
    font-size: 20px;
    padding: 12px;
}
h1{
    font-size: 55px;
}

.suggestion-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding: 20px;
}
.suggestion-area h3{
    color: black;
}
.suggestion-area div {
    display: flex;
    gap: 20px;
    
}
.suggestion-item{
    display: flex;
    flex-direction: column;

    width: 250px;
    height: 234px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.251);

    transition: transform 0.5s ease-in-out;
}
.suggestion-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.suggestion-item:hover{
    transform: scale(1.05);
}
.suggestion-item div {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  align-items: flex-start;
}

.suggestion-item div p {
  font-size: 12px;
  margin: 0;
  text-align: left;
}

@media(max-width: 400px){
    #header-mobile-hidden{
        display: none;
    }
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header{
        height: 26vh;
        width: 95vw;
        border-radius: 10px;
        position: relative;
    }
    header button{
        position: absolute;
        bottom: 10px;
        left: 10px;
        height: 40px;
        display: flex;
        align-items: center;
    }

    .suggestion-area > div {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 20px;
        padding-bottom: 10px;
    

        max-width: 100vw; 
        box-sizing: border-box;
    }

    .suggestion-area > div::-webkit-scrollbar {
        display: none;
    }

    .suggestion-item {
        flex: 0 0 80%; 
        scroll-snap-align: start;
    }
    .suggestion-item div{
       align-items: flex-start;
    }
}
