body{
    background-color: #FDF2F8;
    margin: 0;
}
#item-father{
    color: #df87b3;
    border-bottom: 1.0px solid;
    margin-bottom: 30px;
    font-size: 2.0em;
}
#item-title{
    color: black;
}
.menu-container{
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    
    margin-bottom: 50px;
}
h1{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
    margin-top: 60px;
    padding-top: 30px;
}
.menu-section{
    font-size: 1.0em;
    margin-bottom: 20px;

}
.menu-item{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 0;
}
.item-info p{
    font-size: 0.9em;
}

.portion{
    font-size: 0.9em;
    color: #E471A0;
}

.price{
    font-size: 1.1em;
    font-weight: bold;
    text-align: right;
}
footer{
 background-color: #111827;
 padding: 50px;
 color: white;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.left-footer h3{
    margin: 0;
    font-size: 22px;
}
.left-footer p{
    margin: 5px 0 0;
    font-size: 14px;
}
.center.footer p{
    margin: 5px;
    font-size: 14px;
}
.right-footer a{
    margin-left: 15px;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}
.right-footer a:hover{
    color: #E471A0;
}