nav{
    display:flex;
    justify-content:space-between;
    padding: 10px;
    align-items: center;
    font-size: 15px;

    /*
    position: fixed;
    width: 100%;
    background-color: white;
    */
}
h3{
    color: var(--nav-tittle);
    font-size:24px;
    font-family: 'Times New Roman', Times, serif;
}
.link-nav {
    display: flex;
    gap: 25px;
    align-items: center;
}
.link-nav a:hover{
    color: var(--primary);
    transform: scale(1.05);
}
.button-nav-ifood > button{
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 3px;
    border-radius: 10px;
    font-size: 15px;
}
.material-icons{
    font-size: 15px;
}

