nav{
    display:flex;
    justify-content:space-between;
    padding: 12px;
    align-items: center;
    font-size: 15px;
}
h3{
    color: var(--nav-tittle);
    font-size:24px;
    font-family: 'Times New Roman', Times, serif;
}
.link-nav {
    display: flex;
    gap: 25px;
    align-items: center;
}
.link-nav a:hover{
    color: var(--primary);
    transform: scale(1.05);
}
.button-nav-ifood > button{
    display: flex;
    align-items: center;
    gap: 2px;
    margin: 0px;
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
}
.material-icons{
    font-size: 18px;
}

